.contenedor{
	background-color: blue;
	/*display: inline-flex;*/
	display: flex;
    flex-direction: row-reverse;
}

.item{
	background-color: red;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
    
    
}

.contenedor2{
	background-color: green;
	display: inline-flex;
	flex-wrap: wrap;
    align-items: center;
    height: 500px;
    
}
