<h1>{{title}}</h1>

<main class="holder contacto">

        <div>
            
            <form action="" method="" class="formulario">
                <p>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="">
                </p>
                <p>
                    <label for="apellido">Apellido</label>
                    <input type="text" name="">
                </p>
                <p>
                    <label for="telefono">Telefono</label>
                    <input type="text" name="">
                </p>
                
                <p>
                    <input type="submit" value="Enviar">
                </p>
            </form>

        </div>

        


    </main>