<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav>
    <ul>

      <li><a href="/">Home</a></li>
      <li><a href="/listado">Listado Empleados</a></li>
      <li><a href="/abm">ABM Empleados</a></li>

    </ul>
  </nav>

  {{{body}}}
</body>

</html>