@charset "utf-8";

/* CSS Document */
@media screen and (max-width: 800px) {

	body {

		margin-top: 0;
		margin-left: 0;
		margin: 0;
	}
	h1{
		font-family: 'Open Sans', sans-serif;
		font-size: 22px;
	}


	#contenedor {


		width: 100%;
		background: #8FA68E;
		margin-right: auto;
		margin-left: auto;
		overflow: hidden;
	}

	#main {
		display: flex;
		flex-direction: column;
		width: 100%;

	}

	#adicional {
		font-family: 'Caveat', cursive;
		font-size: 16px;
		width: 100%;

	}

	#principal {

		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		width: 100%;
	}

	nav {
		background: #CC3910;
		float: left;
		width: 100%;
		font-family: 'Caveat', cursive;
		font-size: 18px;
	}

	ul {
		list-style-type: none;
	}

	a {
		color: #F1F2C0;
		text-decoration: none;
	}

	section {
		background: #F1F2C0;
		float: left;

		width: 60%;
	}

	aside {
		background: #CCC59E;
		float: right;
		width: 20%;
	}
}

@media screen and (min-width: 800px) {

	body {
		margin-top: 0;
		margin-left: 0;
		margin: 0;
	}
	h1{
		font-family: 'Open Sans', sans-serif;
		font-size: 32px;
	}

	#contenedor {
		width: 100%;
		height: max-content;
		background: #8FA68E;
		margin-right: auto;
		margin-left: auto;
		overflow: hidden;
	}


	#adicional {
		font-family: 'Caveat', cursive;
		font-size: 22px;
		width: 20%;

	}

	#principal {

		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		width: 70%;
	}

	#main {
		display: flex;
        width: 100%;

	}

	nav {
		background: #CC3910;
		font-family: 'Caveat', cursive;
		font-size: 22px;
		float: left;
		width: 10%;
	}

	ul {
		list-style-type: none;
	}

	a {
		color: #F1F2C0;
		text-decoration: none;
	}

	section {
		background: #F1F2C0;
		float: left;
		
	}

	aside {
		background: #CCC59E;
		float: right;
		
	}
}