
#clases{
    box-shadow:20px 2px 10px black; ;
}

#clases:first-child{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
   
}
#clases:hover{
    font-family: font-family: 'Caveat', cursive;
    font-size: 25px;
}

#info::first-line{
font-size: 40px;
background-color: yellow;
}

#clases::first-letter{
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

#parr:nth-child(odd) {
  background-color: aliceblue;
  font-family: font-family: 'Caveat', cursive;
  
}

#elementos{
    box-shadow:20px 2px 10px black; ;
}

#elementos::first-line{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}


#elementos::first-letter{
    font-family: 'Caveat', cursive;
    font-size: 40px;
}
#elementos::before{
    content: "<i class="fa-solid fa-gears"></i>";
}


